@import "tailwindcss";

@keyframes colorCycle {
  0%   { color: white; }
  20%  { color: orange; }
  40% { color: white; }
}

.color-cycle-hover:hover {
  animation: colorCycle 1.5s ease-in-out forwards;
}




